{% extends 'base.html' %} {% block contenido %}
<form action="" method="post">

    {% csrf_token %}
    <h3>¿ Desea eliminar el mantenimiento : <span> <b> {{ mantenimiento.nombres }} </b></span>?</h3>
    <div class="card-footer">
        <div class="row ">

            <div class="col-12">
                <a href="{% url 'mantenimientos' %}" class="btn btn-secondary">Cancelar</a>
                <input type="submit" value="Si, eliminar" class="btn btn-danger  float-right swalDefaultSuccess">
            </div>
        </div>

    </div>
</form>

{% endblock contenido %}